<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>209095521389-3h51k7mbmqj58lf6pb10v9r899nfmn6g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.209095521389-3h51k7mbmqj58lf6pb10v9r899nfmn6g</string>
	<key>API_KEY</key>
	<string>AIzaSyD4admSXmgSGA9UnqPQez2eMxYjSU_s7zU</string>
	<key>GCM_SENDER_ID</key>
	<string>209095521389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marlenabaginska.dentalNotes</string>
	<key>PROJECT_ID</key>
	<string>dental-notes3008</string>
	<key>STORAGE_BUCKET</key>
	<string>dental-notes3008.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:209095521389:ios:e66e1d086680115e7ebb64</string>
</dict>
</plist>